{
    "extends": "../node_modules/eslint-plugin-ak/config/mixins/test",
    "globals": {
      "chai": true,
      "inject": true,
      "sinon": true
    },
    "rules": {
      "padded-blocks": 0
    }
}
